*{
    color: white;
}
body{
    background-color: rgb(247, 237, 219);
}
.container{
    width: 800px;
    background-color: #0d5c63;
    margin-left: 450px;
    margin-top: 300px;
    border-radius: 10px;
}
h2 {
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    margin-left: 20px;
}
form{
    margin-left: 20px; 
    font-size: x-large;
    font-weight: bolder;
}
input{
    width: 300px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #0d5c63;
    font-weight: bolder;
    font-size: x-large;
}
#labelBill{
    margin-right: 78px;
}
#calculator{
    padding: 20px;
    width: 200px;
    color: blue;
     font-weight: bolder;
    border-radius: 10px;
    margin-left: 235px;
    font-size: x-large;
    margin-top: 25px;
}
#calculator:hover{
    background-color: burlywood;
}
#total{
    text-align: centers;
}
.container{
    width: 600px;
    background-color: #0d5c63;
    margin-left: 450px;
    margin-top: 100px;
    border-radius: 10px;
}
div{
margin-left: 480px;
}

h2{
    color: yellow;
    text-align: center;
}
#number{
    margin-left: 150px;
}
input{
    width: 150px;
    height: 10px;
}
#age{
    border-radius: 10px;
     width: 150px;
    height:40px;
    font-weight: bolder;
     background-color: rgb(192, 192, 22);
     margin-left: 150px;
}
#reset{
    color: white;
      background-color: rgb(192, 192, 22);
      width: 70pxS;
      height: 40px;
      font-weight: bolder;
      margin-left: 20px;
      border-radius: 10px;
  }
div{ 
    margin-left: 130px;
}
#total{
    text-align: center;
}